.container {
  background-color: #161922;
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  min-height: 600px;
}

.logo {
  margin-top: 50px;
}

.row {
  width: auto;
}

.filters {
  display: flex;
}
