.container {
  background-color: #fff;
  color: #161922;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 600px;
  padding: 10px;
}

.filters {
  display: flex;
}
